body {
  background: linear-gradient(white,black);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  
}

.header h1{
  font-weight: 350;
  font-style: italic;
}

.header button {
  background: linear-gradient(white,rgb(217, 144, 155)) ;
}

.header button:hover{
  background: linear-gradient(rgb(217, 144, 155),white) ;
  font-size: 14px;
}

.dark-mode {
  background: linear-gradient(black,white)  ;
}

.dark-mode h1{
  color: white;
}


.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}

.change{
  background: linear-gradient(pink,rgb(240, 169, 180)) ;
  border: none;
  border-radius: 15px;
  padding:5px 10px 5px 10px;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns:repeat(auto-fit ,minmax(300px ,1fr)); 
}

.note.new{
  background-color:rgb(31, 189, 189);
  color: white;
}

textarea{
  border: none;
  color: white;
  resize: none;
  background: linear-gradient(pink,rgb(240, 169, 180)) ;;

}

textarea:focus{
outline: none;
}

.save{
  background: linear-gradient(white,rgb(217, 144, 155)) ;;
  border: none;
  border-radius: 15px;
  padding:5px 10px 5px 10px;
}

.save:hover{
  font-size: 15px;
  background: linear-gradient(rgb(217, 144, 155),white) ;
  cursor: pointer;
}

.note{
  background: linear-gradient(pink,rgb(240, 169, 180)) ;
  color: white ;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  white-space: pre-wrap;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color:lightgray;
  border-radius: 10px;
  padding: 5px;
  margin-bottom :1.5rem;
}

.search input{
  border: none;
  background-color:lightgray;
}

.search input:focus{
  outline: none;
}

