@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');


*{
  font-family: 'Montserrat', sans-serif;

}
.login,
.image {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* width: 100%; */
}
 .bd-highlight a{
  color: black;
  text-decoration: none;
}
.btn{
  background-color: rgb(234, 146, 68);
  color: white;
}
.bg-image {
  background-image: url('../images/login-split.jpg');
  background-size: cover;
  /* background-position: 100% 50%; */
}
.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.fa-twitter{
  color: #00aced;
}
.border-10 .rounded-circle .p-2 {
  border-width: 5px;
  border-color: rgb(234, 146, 68);
}

